@import '../../Styling/Variables';

.reset-modal,
.clear-mappings {
  top: 25vh;
}

.modal_search_results_header {
  margin: 0 0 15px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.mappings_search_bar {
  width: 50%;
}

.inactive_term,
.active_term {
  padding: 10px;
  cursor: pointer;
  width: 15vw;
  border-bottom: white 2px solid;
}

.active_term {
  background-color: $darkBlue;
  color: white;
}

.inactive_term {
  background-color: $lightBlue;
}

.assign_map_checkbox_container {
  display: flex;
}

.assign_map_checkboxes {
  padding: 0 0 0 15px;
  width: 41vw;
}

.assign_map_title {
  margin-bottom: 5px;
}

.active_selected_api,
.inactive_selected_api {
  padding: 0 5px;
  width: 10.5vw;
}

.active_selected_api {
  background-color: rgb(233, 237, 240);
  border-bottom: 1px solid lightgrey;
  border-bottom: 1px solid rgb(238, 238, 255);
  border-right: 1px solid rgb(238, 238, 255);
}

.modal_checkbox_wrapper {
  display: flex;
  flex-direction: column;
  height: 55vh;
  width: 50vw;
  overflow: auto;
}

.modal_selected {
  display: flex;
  flex-direction: column;
}

.ontology_spinner_div {
  display: flex;
  width: 50vw;
  justify-content: center;
}
