@import '../../Styling/Variables';

.reset-modal,
.clear-mappings {
  top: 25vh;
}

.modal_search_results_header {
  background-color: white;
  top: 0;
  position: sticky;
  margin: 0 0 15px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 10;
  flex: 1;
  border-bottom: solid 1px #eeee;
  h4 {
    margin: 0;
    padding-right: 1rem;
  }
  .mappings_search_bar {
    margin: 0 0 0 8px;
    width: 60%;
  }
  .search-desc {
    flex: 0 0 100%;
    margin-bottom: 1rem;
  }
}

.all_checkboxes_container {
  display: flex;
  flex-direction: row;
}

.mapping_modal_left {
  position: fixed;
}
.ontology_form {
  width: 13vw;
  height: 50vh;
  overflow: auto;
  position: fixed;
}

.ontology_form_pref {
  width: 13vw;
  padding-right: 20px;
  height: 44%;
  overflow: auto;
  position: fixed;
}

.result_form {
  margin-left: 15vw;
}

.inactive_term,
.active_term,
.pref_tab {
  padding: 10px;
  cursor: pointer;
  width: 13vw;
  border-bottom: white 2px solid;
  text-wrap: wrap;
}

.active_term {
  background-color: $darkBlue;
  color: white;
  transition: all 0.3s linear;
}

.inactive_term {
  background-color: $lightBlue;
  transition: all 0.3s linear;
}

.hidden_term {
  display: none;
}
.pref_tab {
  background-color: rgb(233, 233, 233);
}

.assign_map_checkbox_container {
  display: flex;
  position: sticky;
}

.assign_map_checkboxes {
  padding: 0 0 0 15px;
  width: 41vw;
}

.assign_map_title {
  margin-bottom: 5px;
}

.active_selected_api,
.inactive_selected_api {
  padding: 0 5px;
  width: 10.5vw;
  cursor: pointer;
}

.active_selected_api {
  background-color: rgb(233, 237, 240);
  border-bottom: 1px solid rgb(238, 238, 255);
  border-right: 1px solid rgb(238, 238, 255);
}

.modal_checkbox_wrapper {
  display: flex;
  flex-direction: column;
  height: 55vh;
  width: 50vw;
  overflow: auto;
}

.modal_selected {
  display: flex;
  flex-direction: column;
}

.ontology_spinner_div {
  display: flex;
  width: 50vw;
  justify-content: center;
}

.onto_reset {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.view_more_wrapper {
  margin-left: 15vw;
}

.api_onto_search_bar,
.onto_search_bar {
  margin-bottom: 8px;
}

.api_onto_search_bar {
  width: 400px;
}

.existing_display {
  border-bottom: solid 1px #eeee;
}

.comment_code_display {
  font-weight: 600;
}

.comment_textarea {
  margin: 0 0 15px 0;
}

.comment_container {
  margin: 10px 0 0 0;
  border: 1px darkgray solid;
  width: fit-content;
  border-radius: 5px;
  padding: 5px 8px;
}

.comment_date_user {
  display: flex;
  gap: 5px;
  font-size: 0.7rem;
  color: gray;
  margin: 6px 0 0 0;
}

.api_wrapper {
  padding-bottom: 5px;
  display: flex;
  align-items: center;
}

.api_header {
  font-weight: 600;
  width: 4em;
}

.ontologies_header {
  margin: -5px 0 5px 0;
}

.bottom_border_div {
  border-bottom: solid 1px #eeee;
}

.display_selected_api {
  color: black;
  font: {
    size: 0.8rem;
  }
}
