@import '../../Styling/Variables';
.terminology_container {
  margin: 17vh 10vw 10vh 10vw;
  width: 66vw;
}

.description_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add_code_link,
.terminology_header {
  margin-left: 50px;
}

.terminology_details {
  display: flex;
  flex-direction: row;
  align-items: center;
  line-height: 2.2rem;
}

.terminology_name {
  margin: 0 0 1.5vh 0;
}

.terminology_desc,
.terminology_url {
  font-family: 'Wix Madefor Display', sans-serif;
  font-size: 14px;
}
.terminology_url {
  margin: 0 0 2vh 0;
}

.no_description {
  color: rgb(208, 205, 205);
}

.initial_div {
  width: 4vw;
}

.empty_description {
  height: 4.5vh;
}

.manage_term_button {
  @include manage_term_button;
}
.manage_term_button:hover {
  @include manage_term_button_hover;
}

.manage_term_button:active {
  @include manage_term_button_active;
}

.manage_term_button:not(:hover, :active) {
  margin-bottom: 2px;
}

.terminology_input {
  margin-left: 0.6vw;
  height: 3vh;
  width: 60vw;
}

.input_field,
.code_input,
.code_description_input {
  @include input_field;
}

.code_input {
  width: 15vw;
}

.code_description_input {
  width: 38vw;
}

.modal_term_ontology {
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: $darkBlue;
}

.pref_terms {
  display: flex;
  align-items: center;
}

.pref_term_name {
  width: 20vw;
}
.modal_display_results {
  display: flex;
  flex-direction: column;
}
.modal_display_result {
  margin: 0 0 10px 0;
}

.modal_search_result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px 10px 6px;
}

.modal_checkbox {
  margin: 0 10px 0 15px;
}

.mappings_checkbox {
  display: flex;
  flex-direction: column;
}

a {
  color: $lightBlue;
}
a.terminology_link {
  color: $darkBlue;
}
a:hover {
  color: $darkBlue;
}
a.terminology_link:hover {
  color: $lightBlue;
}

.view_more_link {
  margin: 0 0 0 10px;
  cursor: pointer;
  color: $lightBlue;
}
.view_more_link:hover {
  color: $darkBlue;
}

.mappings_container {
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 0;
}

.footer_buttons {
  display: flex;
  justify-content: space-between;
}

.save_button_only {
  display: flex;
  justify-content: end;
}

.reset_edit_buttons {
  display: flex;
  gap: 8px;
}

.cancel_ok_buttons {
  display: flex;
  gap: 8px;
}

.reset-modal,
.clear-mappings {
  top: 25vh;
}

.add_row_buttons {
  float: right;
  margin-right: 35px;
  display: flex;
  gap: 8px;
}

.terminology_filter {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.modal_footer {
  display: flex;
  gap: 8px;
  justify-content: end;
}

.modal_divider {
  margin-bottom: 15px;
}
