.error_container {
  margin: 17vh 25vw;
  line-height: 1.5rem;
  text-align: center;
}

.error_status_code {
  font-size: 1.5rem;
  font-weight: 800;
}
.error_frog {
  width: 30vw;
  margin: 20px 0;
}

.error_text,
.sad_locu {
  font-size: 1.1rem;
}

.sad_locu {
  margin-bottom: 15px;
}
