@import '../../Styling/BackgroundImage';
@import '../../Styling/Variables';

.table_id_container {
  margin: 5vh 10vw 13vh 10vw; //Make 10vh bottom without export button
  width: 66vw;
}

.row_header {
  cursor: pointer;
  text-decoration: underline;
}

.integer_row {
  border-bottom: 1px solid $greyColor;
}

#first_integer_cell {
  border-bottom: 1px solid transparent;
}

#integer_value {
  border: none;
}

.integer_div {
  display: flex;
  flex-direction: column;
}

.numerical_header {
  width: 5vw;
}

.edit_div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input::file-selector-button {
  @include manage_term_button;
  margin: 0 1vw 2vh 0;
  padding: 6px 12px;
  cursor: pointer;
}

input::file-selector-button:hover {
  @include manage_term_button_hover;
}

.button_disabled {
  padding: 1vh 2.5vh;
  border: 1px solid darkgrey;
  color: gray;
  border-radius: 25px;

  font: {
    size: 0.7rem;
    weight: 800;
  }
}

.transparent_button {
  border: none;
  background-color: transparent;
}

.delete_table_confirm {
  top: 25vh;
}

.expanded_row {
  display: flex;
  gap: 10px;
  margin-left: 50px;
}

.mapping {
  &-display {
    white-space: nowrap;
  }
  display: flex;
  .remove-mapping {
    padding-left: 0.25rem;
    cursor: pointer;
    opacity: 0;

    &:hover {
      transition: all 0.4s linear;
      opacity: 1;
    }
  }
}

.mapping_relationship {
  padding: 2px 6px;
  border: 1px solid $greyColor;
  border-radius: 4px;
  &:hover {
    background-color: rgb(245, 245, 245);
    transition: all 0.3s linear;
  }
}
