@use '../Styling/Variables' as *;

.ontology_container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
}

.api_list {
  position: sticky;
  top: calc($navHeight + 37px);
  z-index: 10;
  width: 200px;
  min-width: 150px;
  height: fit-content;
  display: flex;
  flex-flow: column wrap;
  gap: 2px;
}

.api_label {
  font-weight: 600;
  margin: 0 0 20px 0;
}

.inactive_api {
  line-height: 3rem;
  padding: 0 10px;
  background-color: #f2f2f2;
  cursor: pointer;
}

.active_api {
  line-height: 3rem;
  padding: 0 10px;
  background-color: $darkBlue;
  cursor: pointer;
  color: white;
}

.ontology_list {
  flex: 1;
  min-width: 0;
  height: 20%;
  min-height: 440px;
}

.ontology_filter {
  display: flex;
  flex-direction: row;
  gap: 80px;
}
