@use '../Styling/Variables' as *;
.user-page-container {
  line-height: 1.5rem;
  height: 60vh;
  margin: -15vh 10vw 0 10vw;
  display: flex;
  gap: 20px;
}

.descriptions-wrapper {
  width: 28vw;
}

.institution-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ant-descriptions-item-label {
  vertical-align: top;
}

.token-container {
  margin: 7vh 10vw 0 0;
}

.tokens-wrapper {
  width: 42vw;
}

.token-font {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
  background-color: rgb(255, 255, 255, 0.6);
}

.expires-div {
  display: flex;
  justify-content: space-between;
}

.delete-token-icon {
  cursor: pointer;
}

.token-display {
  background-color: rgb(222, 255, 222);
  display: flex;
  justify-content: center;
  gap: 8px;
}

.copy-icon:hover {
  transition: color 0.2s linear;
  color: $darkBlue;
}
