.user-page-container {
  line-height: 1.5rem;
  height: 60vh;
  margin: -15vh 10vw 0 10vw;
  display: flex;
  gap: 20px;
}

.descriptions-wrapper {
  width: 28vw;
}

.institution-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.ant-descriptions-item-label {
  vertical-align: top;
}

.token-container {
  margin: 7vh 10vw 0 0;
}

.tokens-wrapper {
  width: 40vw;
}

.token-font {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}
