.new_study_card_container {
  display: flex;
  flex-flow: row wrap;
  font-size: clamp(1rem, 4vw, 2rem);
  height: 175px;
  border: 1px lightgray solid;
  border-radius: 5px;
  padding: 5px;
  margin: 50px 0 0 0;
  align-items: center;
  justify-content: center;
}

.new_study_card {
  display: flex;
  text-align: center;
}
