@import '../Styling/Variables';

.loading_screen {
  margin-top: $navHeight;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.spinner {
  vertical-align: center;
  text-align: center;
  padding: 3vw 38vw;
  background-color: rgb(79, 79, 79, 0.1);
  border: 1px solid rgb(79, 79, 79, 0.4);
}

.modal_spinner {
  vertical-align: center;
  text-align: center;
  padding: 1vw;
  background-color: rgb(79, 79, 79, 0.1);
  border: 1px solid rgb(79, 79, 79, 0.4);
}

.small_spinner_container {
  margin-top: $navHeight;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.small_spinner,
.ontology_spinner {
  vertical-align: center;
  text-align: center;
  padding: 1vw;
  width: 100px;
  background-color: rgb(79, 79, 79, 0.1);
  border: 1px solid rgb(79, 79, 79, 0.4);
}

.ontology_spinner_container {
  display: flex;
  flex-direction: row;
}
