.loading_screen {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.spinner {
  vertical-align: center;
  text-align: center;
  padding: 3vw 38vw;
  background-color: rgb(79, 79, 79, 0.1);
  border: 1px solid rgb(79, 79, 79, 0.4);
}

.modal_spinner {
  vertical-align: center;
  text-align: center;
  padding: 3vw 20vw;
  background-color: rgb(79, 79, 79, 0.1);
  border: 1px solid rgb(79, 79, 79, 0.4);
}
