@use '../Styling/Variables' as *;

.loading_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.6); /* dim background */
  z-index: 9999;
}

.loading_overlay_modal {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.6);
  z-index: 9999;
}

.loading_overlay_ontologies {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  z-index: 9999;
}
