@import '../Styling/Variables';

.search_page {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: {
    image: url('../../assets/Background.png');
    size: 100vw;
    repeat: no-repeat;
    position: calc(50% - 50px) 50%;
  }
  z-index: -1;
}

.search_field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-top: $navHeight;
  height: fit-content;
  align-items: center;
}

.text_input {
  grid-column: 2;
}
#search_input {
  background-image: url('../../assets/magnifying_glass.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 30px;
  height: 4vw;
  width: 33vw;
  font-size: 1.3rem;
  padding-left: 10px;
}

#search_input::placeholder {
  font-size: 1.3rem;
  padding: 5px;
}

.search_button {
  @include button($padding: 18px 36px);
  margin-left: 20px;
  cursor: pointer;
  &.disabled {
    cursor: default;
  }
}
.search_button:hover:not(.disabled) {
  @include button_hover;
}

.search_button:active:not(.disabled) {
  @include button_active;
}

.text_above_search {
  font: {
    size: 2rem;
    weight: 800;
  }
}
