$blackColor: #080705; //black
$yellowColor: #fffc31; //yellow
$buttonEffect: #232323;
$darkBlue: #336699; //dark blue
$greyColor: #bdbdbb; //dark grey
$lightBlue: #86bbd8; //light blue

@mixin button($padding: 16px 32px) {
  background-color: $blackColor;
  border: 2px $yellowColor solid;
  color: white;
  padding: $padding;
  font: {
    size: 0.7rem;
    weight: 800;
  }
}

@mixin button_hover {
  box-shadow: 0 5px 15px rgba(103, 103, 103, 0.8);
  border: 3px $yellowColor solid;
}

@mixin button_active {
  background-color: $buttonEffect;
  box-shadow: 0 5px 15px rgb(103, 103, 103);
  transform: translateY(4px);
}

@mixin manage_term_button($padding: 1vh 2.5vh) {
  border: 2px solid $yellowColor;
  color: white;
  font-weight: 600;
  background-color: $blackColor;
  border-radius: 25px;
  padding: $padding;
  cursor: pointer;
}

@mixin manage_term_button_hover {
  box-shadow: 0 5px 10px rgba(103, 103, 103, 0.8);
  border: 3px $yellowColor solid;
}

@mixin manage_term_button_active {
  background-color: $buttonEffect;
  box-shadow: 0 5px 15px rgb(103, 103, 103);
  transform: translateY(4px);
}

@mixin input_field($margin: 0 0 0 0.5vw) {
  height: 3.5vh;
  margin: $margin;

  font: {
    size: 16px;
    family: 'Wix Madefor Display', sans-serif;
  }
}
