body{

    background: url('./assets/Background.png');
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: calc(50% - 50px) 50%;
    background-attachment: fixed;

}
.approuter_div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.outlet_div {
  position: relative;
  background-color: rgba(255,255,255,.3);
}

.header {
  z-index: 100;
  position: sticky;
  top:0;
}


