body {
  background: url('./assets/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: calc(50% - 50px) 50%;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  min-width: fit-content;
}

.approuter_div {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.outlet_div {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  max-width: 100vw;
  overflow-x: clip;
}

.header {
  z-index: 100;
  position: sticky;
  top: 0;
}
