@use '../Styling/Variables' as *;

$navColor: #080705;
$linkColor: #f2f2f4;

nav.navbar {
  z-index: 1;
  width: 100%;
  min-width: fit-content;
  box-sizing: border-box;
  height: $navHeight;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: $navColor;
}

li {
  list-style-type: none;
}

.nav_links a:not(.nav_logo) {
  text-decoration: none;
  color: $navColor;
  font: {
    size: 1em;
    weight: 800;
  }
  cursor: default;
}

.nav_body {
  min-width: fit-content;
  display: flex;
  padding: 0 clamp(0vw, 4vw, 4rem);
  margin-left: auto;
  width: 100%;
}

.logo_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: start;
  margin-right: clamp(0vw, 2.3vw, 5rem);
}

.logo {
  width: 50px;
}

.nav_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav_link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  padding: 0 clamp(0vw, 1.2vw, 1rem);
  font-weight: bold;
  cursor: pointer;
  color: $linkColor;
  border-bottom: 1px solid transparent;
}

.nav_link:hover {
  border-bottom: 1px solid $linkColor;
}

.nav_separator {
  height: 30px;
  width: 1px;
  background-color: $linkColor;
  margin: 0 clamp(0vw, 0.5vw, 0.5rem);
}

.login {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.breadcrumbs {
  display: flex;
  align-items: baseline;
  z-index: 1;
  padding: 0 10vw;
  position: sticky;
  top: 115px;
  background: #eeeeee;

  li {
    list-style: none;
    font-size: 14px;
    line-height: 1.5714285714285714;
    color: rgba(0, 0, 0, 0.45);

    & > a {
      color: rgba(0, 0, 0, 0.45);
      text-decoration: none;
      transition: color 0.2s;
      padding: 0 4px;
      border-radius: 4px;
      height: 22px;
      display: inline-block;
      margin-inline: -4px;

      &:hover {
        color: rgba(0, 0, 0, 0.88);
        background-color: rgba(0, 0, 0, 0.06);
      }
    }
  }

  & * {
    text-transform: capitalize;
  }
}

footer {
  width: 100%;
  height: 50px;
  background-color: $navColor;
  display: flex;
  justify-content: center;
}

.footer_content_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 0 0 0 20px;
}

.footer_content {
  font-size: 0.8rem;
  color: #eeee;
}
